<div class="jumbotron">

  <div class="row">

    <h1>
      <span>Welcome to </span>
      <span class="logo">B</span>
      <span class="logopt2">roken </span>
      <span class="logo">V</span>
      <span class="logopt2">at </span>
      <span class="logo">B</span>
      <span class="logopt2">rewing</span>
    </h1>

  </div>
</div>
