
<div>
  <header class="header" id="header"><!--header-start-->

    	<figure class="animated fadeInDown delay07s">
        	<h1 class="animated fadeInDown delay07s tex">Welcome To</h1>
        	<%= image_tag "BVLT3", class:"logo img-responsive"%>
        </figure>


  </header><!--header-end-->
</div>
<nav class="main_nav" id="test">
  <div class="container-fluid">
    <ul class="main_nav_list">
      <li class="main_nav_link_item"><a href="#" class="main_nav_link">Home</a></li>
      <li class="main_nav_link_item"><a href="#" class="main_nav_link">Other</a></li>
      <li class="main_nav_link_item"><a href="#" class="main_nav_link_image"><%= image_tag "logo_2_small"%></a></li>
      <li class="main_nav_link_item"><a href="#" class="main_nav_link">Other2</a></li>
      <li class="main_nav_link_item"><a href="#" class="main_nav_link">Other3</a></li>
    </ul>
    <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
  </div>
</nav><!--main-nav-end-->

<div class="col-md-6">
  <div class="container">
    <h1 class="fadeInLeft delay07s">About Us</h1>
  </div>
</div>
