<!DOCTYPE html>
<html>
<head>
  <title>Broken Vat Brewing Company</title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<div class="dashboard-container">

  <div class="container">
    <body>

    <%= yield %>

    </body>
  </div>
</div>
</html>
